%h2= "Dashboard"

%h1
  = link_to "CloudEdit", "#"

#notice
#app

:javascript
  $(function() {
      App.init();
      //alert(1);
  });

- if false
  #auto_refresh
  = render :partial => 'meas_types/auto_refresh'

  #auto_actions
  - # auto refreshing action events