= render :partial => 'meas_archives/meas_archive_array', :locals => {:meas_archive_array => @meas_archives}
=# link_to "Chart", meas_type_chart_meas_archives_path
= link_to "Chart", chart_meas_type_meas_archives_path