%h1 Realtime

#data

%script{:src => "http://localhost:8080/socket.io/socket.io.js"}
:javascript
  var socket = io.connect('http://localhost:8080');
  /*
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
  */

  socket.on('message', function (data) {
    console.log(data);
    $('#data').append(data);
  });