%h1 Realtime

.container-fluid
  .row-fluid#data
    .span12
      %h2 Measurements

    - MeasType.all.each do |mt|
      .span3.meas_box{id: mt.name}
        %span.small= mt.name
        .meas_value= '...'


%script{:src => "http://localhost:8080/socket.io/socket.io.js"}
:javascript
  $(document).ready(function(){
    realtime_init();
    //realtime_put_value("batt_u", 1.0);
  });
