[Desktop Entry]
Encoding=UTF-8
Name=HomeIO dashboard
Name[en]=HomeIO dashboard
Name[pl]=HomeIO tablica
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=ruby-script
X-Plasma-MainScript=code/main.rb
X-KDE-PluginInfo-Author=Aleksander Kwiatkowski
X-KDE-PluginInfo-Email=bobikx@poczta.fm
X-KDE-PluginInfo-Name=HomeIO
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/akwiatkowski/HomeIO
X-KDE-PluginInfo-Category=Web Based
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DefaultSize=380,500
