hr {
  border-top: 1px dotted #aaaaaa;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px; }

table.data_table thead tr {
  background-color: #CCC; }

table.data_table tr.odd {
  background-color: #CCC; }

table.data_table tr.even {
  background-color: #FFF; }

/* standard detail list*/
ul.details li span.parameter {
  font-weight: bolder; }

/* flash messages */
#flash_error, #flash_alert {
  border-bottom: 1px dotted red;
  color: red; }

#flash_warning {
  border-bottom: 1px dotted darkorange;
  color: darkorange; }

#flash_notice {
  border-bottom: 1px dotted darkgreen;
  color: darkgreen; }

#meas ul #meas_current ul li,
#meas ul #meas_by_type ul li,
#actions ul #action_events_by_type ul li {
  font-size: smaller; }

/* one meas archive */
ul.meas_archive {
  list-style-type: none;
  padding: 0;
  margin: 0; }

span.small_info {
  font-size: smaller; }

.rounded_box {
  float: left;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  border: 1px dotted #AAA;
  border-radius: 15px;
  width: 90px;
  height: 90px; }
