/* one meas archive */
ul.meas_archive {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.meas_archive {
    background-image: url(/images/measurement1.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

span.small_info {
    font-size: smaller;
}

body {
    position: relative;
}
