$top_height: 30px;
$left_menu_width: 220px;

/* top nav bar */
#top_navcontainer {
    position: absolute;
    border: 1px dotted #F00;
    top: 0px;
    height: $top_height;
}

/* left nav bard */
#left_navcontainer {
    position: absolute;
    border: 1px dotted #0F0;
    top: $top_height;
    width: $left_menu_width;

}

#content_container {
    position: absolute;
    border: 1px dotted #00F;
    top: $top_height;
    left: $left_menu_width;


}

/* universal table with data, measurements, stats, .. */
table.data_table {
    margin: 5px 5px 5px 5px;
}

table.data_table tr td{
    padding: 2px 10px 2px 10px;
}

table.data_table thead tr{
    background-color: #CCC;
}

table.data_table tr.odd{
    background-color: #CCC;
}

table.data_table tr.even{
    background-color: #FFF;
}

/* standard detail list*/
ul.details {

}

ul.details li span.parameter {
    font-weight: bolder;
}
