%h2= "Measurement cache"

= render :partial => 'meas_archives/meas_archive_array', :locals => {:meas_archive_array => @meas_archives}

%hr
= render :partial => "graphs/graph", :locals => {:_params => params.clone, :smooth => false, :width => 800}
