%h2= "Cities"

= render :partial => 'cities/city_array', :locals => {:city_array => @cities}
=# link_to "Chart", chart_meas_type_meas_archives_path

%hr
= render :partial => "graphs/graph", :locals => {:_params => params.merge(:action => :chart)}