= semantic_navigation defined?(id) ? id : 'primary-navigation', config: :bootstrap, class: defined?(klass) ? klass : 'primary-navigation' do |n|
  - n.item t('meas_type_group.plural'), meas_type_groups_path
  - n.item t('meas_type.plural'), meas_types_path
  - n.item t('action_type.plural'), action_types_path
  - n.item t('overseer.plural'), overseers_path

  - if current_user.nil?
    - n.item t('user_session.new'), new_user_session_path
  - else
    - n.item t('user_session.destroy'), destroy_user_session_path, method: :delete
